:root {
  /* 색상: 메인 */
  --color-main-primary: #4fd1c5;
  --color-main-light-100: #a0e8e1;
  --color-main-light-200: #ace5e0;
  --color-main-light-300: #d2fffb;
  --color-main-light-400: #edfffd;
  --color-main-dark: #25b7aa;
  --color-main-deeper-dark: #2b4d44;

  /* 색상: 서브 */
  --color-secondary-primary: #9494f8;
  --color-secondary-100: #b1b1fa;
  --color-secondary-200: #cdcdfc;
  --color-secondary-300: #e7e7ff;
  --color-secondary-400: #eae8fd;
  --color-secondary-500: #f7f6ff;
  --color-secondary-dark: #7777d5;

  /* 색상: 무채색 */
  --color-gray-100: #f5f5f5;
  --color-gray-200: #ededed;
  --color-gray-300: #cccccc;
  --color-gray-400: #bbbbbb;
  --color-gray-500: #999999;
  --color-gray-600: #666666;
  --color-gray-700: #555555;
  --color-gray-800: #444444;
  --color-gray-900: #333333;

  /* 색상: 기본색 및 포인트 */
  --color-basic-white: #fff;
  --color-basic-red: #ff3333;
  --color-gradient-sub: linear-gradient(to bottom right, var(--color-secondary-200), #9494f8);
  --color-gradient-bg: linear-gradient(#f5f3ff, #f5f3ff);

  /* 색상: 배경 */
  --color-background-white: var(--color-basic-white);
  --color-background-gray-light: #f9f9f9;
  --color-background-gray-default: var(--color-gray-200);
  --color-background-gray-dark: var(--color-gray-300);

  /* 색상: 선 */
  --color-border-color: var(--color-gray-200);
  --color-border-color-dark: var(--color-gray-300); /* 일부 셀렉트, 버튼만 */

  /* 색상: 투두 카테고리(건강, 업무, 개인) */
  --color-category-health: #22c55e;
  --color-category-work: #3b82f6;
  --color-category-personal: #a855f7;

  --color-category-bg-health: #dcfce7;
  --color-category-bg-work: #dbeafe;
  --color-category-bg-personal: #f0e0ff;

  /* 색상: 폰트 */
  --color-text-brand-primary: var(--color-main-dark);
  --color-text-brand-secondary: var(--color-secondary-dark);
  --color-text-on-color: var(--color-basic-white);
  --color-text-default: var(--color-gray-900);
  --color-text-gray-100: var(--color-gray-300);
  --color-text-gray-200: var(--color-gray-400);
  --color-text-gray-300: var(--color-gray-500);
  --color-text-gray-400: var(--color-gray-600);
  --color-text-gray-500: var(--color-gray-700);

  /* 폰트: 사이즈 */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xxl: 1.625rem; /* 26px */

  /* 폰트: 두께 */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* 폰트: 줄간격 */
  --line-height-xxs: 1rem; /* 16px */
  --line-height-xs: 1.375rem; /* 22px */
  --line-height-sm: 1.5rem; /* 24px */
  --line-height-md: 1.625rem; /* 26px */
  --line-height-lg: 2rem; /* 32px */
  --line-height-xl: 2.25rem; /* 36px */
  --line-height-xxl: 2.5rem; /* 40px */

  /* 사이즈: 화면 */
  --view-min-width: 350px;
  --view-max-width: 450px;
  --view-min-height: 100vh;

  /* 사이즈: 레이아웃 */
  --size-g-nav-height: 95px;
  --size-header-with-back: 80px;
  --size-add-todo: 145px;

  /* 사이즈: 내부 여백 */
  --size-inner-padding: 24px;
  --size-inner-padding-hx: 30px;
  --size-inner-padding-2x: 40px;
  --size-inner-padding-3x: 60px;
  --size-inner-padding-4x: 80px;

  /* 사이즈: 간격 */
  --size-gap-xxs: 4px;
  --size-gap-xs: 8px;
  --size-gap-sm: 12px;
  --size-gap-md: 16px;
  --size-gap-lg: 20px;
  --size-gap-xl: 24px;
  --size-gap-xxl: 36px;

  /* 사이즈: 버튼, 폼 */
  --size-height-xxs: 32px;
  --size-height-xs: 36px;
  --size-height-sm: 40px;
  --size-height-md: 45px;
  --size-height-lg: 50px;
  --size-height-xl: 60px;
  --size-height-xxl: 95px;

  /* 사이즈: 큰 UI 요소 */
  --size-height-banner: 130px;
  --size-height-card: 140px;

  /* 사이즈: 둥근 모서리 */
  --size-border-radius-xs: 2px;
  --size-border-radius-sm: 4px;
  --size-border-radius-md: 8px;
  --size-border-radius-lg: 12px;
  --size-border-radius-xl: 16px;

  /* 효과 */
  --box-shadow-default: 0px 1px 5px rgba(0, 0, 0, 0.1);
  --transition: 0.2s all ease-in-out;
}

body {
  font-family: 'SUIT Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', '맑은 고딕', 'Malgun Gothic', '고딕', 'Dotum', '돋움', sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-default);
  letter-spacing: -0.01rem;
  background-color: var(--color-background-gray-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
svg,
path,
rect {
  transition: var(--transition);
}

input {
  background-color: var(--color-background-white);
}

input::placeholder {
  color: var(--color-gray-400);
}

*:disabled {
  background-color: var(--color-gray-200) !important;
  color: var(--color-gray-400) !important;
}

::selection {
  background-color: var(--color-secondary-primary);
  color: var(--color-text-on-color);
}
